#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
# Only KDE 4 seems to use GenericName, so we reuse the KDE strings.
# From Ubuntus language-pack-kde-XX-base packages, version 9.04-20090413.
GenericName=Database
Type=Application
Terminal=false
Exec="/usr/bin/dbprotector_scanda"
Comment[es_MX]=DB Protector
Name=DB Protector
Comment=DB Protector
Icon=/usr/lib/python2.6/site-packages/xamai/img/DB_Protector_32X32.png
Categories=Database;Development;SAP
X-Ayatana-Desktop-Shortcuts=NewWindow
[NewWindow Shortcut Group]
Name=New Window
Exec="/usr/bin/dbprotector_scanda -n"